@model ChatParty.Models.UserChatViewModel
@section Navigation {
	<div class="absolute inset-y-0 left-1 flex items-center">
		<a class="text-decoration-none" href="/Home/All">
			<svg class="fill-gray-400 hover:fill-gray-300" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z" /></svg>
		</a>
		<div class="ml-2 text-gray-50">@Model.Receiver</div>
	</div>
	<div class="absolute inset-y-0 right-0 flex items-center 
                p-2 m-1 align-middle">
		<svg class="fill-gray-400 hover:fill-gray-300" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z" /></svg>
	</div>
}
<div class="mt-2 h-screen flex flex-col">
	<div class="overflow-hidden  flex flex-col justify-content-start" id="messagesList">
		@foreach (var message in Model.Messages)
		{
		<div class="flex flex-row">
			<div class="text-blue-300 text-xs mr-4 shrink-0 flex-grow-0 basis-15">@message.From.UserName:</div>
			<div class="text-balance  text-white-50 text-sm">@message.Content</div>
		</div>
		}
	</div>
	<div class="fixed bottom-0 left-0 right-0 justify-content-start flex flex-row mt-2 place-content-center">
		<input id="messageInput" type="text" class="flex py-3 w-full pl-1 placeholder:italic placeholder:text-slate-400 text-xs text-slate-200 bg-slate-800 border-1" placeholder="Enter your message." required>
		<button id="sendButton" type="submit" class="hidden"></button>
	</div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


